{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <link rel="stylesheet" href="{% static 'css/adminProfile.css' %}">    
{% endblock %}

{% block content %}
    <div class="header">
        <div id="admin-form">
            <img src="{% static 'images/user.jpg' %}" class="adminImg">
            <label id="username1" >Username</label>
            <label id="user-view">{{request.user.username}}</label>
            <label id="email">Email</label>
            <label id="email-view">{{request.user.email}}</label>
            <a id="ChangePassword-link" href="{% url 'reset_password' %}" target="_blank">Change Password</a>
        </div>
        <div class="card">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <h1 id="head"> ADD Book </h1>
                <label for="img">Select image:</label>
                <!-- <input type="file" id="img" name="img" accept="image/*"> -->
                {{form.image}}

                <label><b id="title">Title</b></label>
                {{form.Title}}
                <br>
                <label><b id="author">Author</b></label>
                {{form.Author}}
                <br>
                <label><b id="price">Price</b></label>
                {{form.Price}}
                <br>
                <label><b id="status">Status</b></label>
                {{form.status}}
                <br>
                <label><b id="">ISBN</b></label>
                {{form.isbn}}
                <br>
               <!--  <label><b id="duration">Duration</b></label>
                <input type="text" placeholder="Enter Borrowing Duration" required>
                <br> -->
                <button id="bt" type="submit">Add The Book</button>
            </form>
        </div>
    </div>

    <div class="booksArea">
        <h2>My Books</h2>
        <div class="books">
            {% for book in books %}
                <div id="book1-form">
                    {% if book.image %}
                        <img src="{{book.image.url}}" id="book1-img">
                    {% else %}
                        <img src="{% static 'images/book2.jpg' %}" id="book1-img">
                    {% endif %}
                    <p class="title"><span>Title</span> <span>{{book.Title}}</span></p>
                    <p class="author"><span>Author</span> <span>{{book.Author}}</span></p>
                    <p class="price"><span>Price</span> <span>{{book.Price}}</span></p>
                    <p class="status"><span>Status</span> <span>{{book.status}}</span></p>
                    <p class="status"><span>ISBN</span> <span>{{book.isbn}}</span></p>
                    <!-- <p class="title1">Duration</p>
                    <input class="from-view1" type="time">
                    <p class="title2" >To</p>
                    <input class="to-view2" type="time"> -->
                </div>
            {% endfor %}
        </div>
        

        
        
    </div>
{% endblock %}